
Jinja2>=3.1.6
Markdown>=3.7
MarkupSafe>=3.0.2
PyYAML>=6.0.2
Pygments>=2.19.1
attrs>=25.3.0
autocommand>=2.2.2
beautifulsoup4>=4.13.3
cachetools>=5.5.2
certifi>=2025.1.31
charset-normalizer>=3.4.1
cuda-bindings>=12.8.0
cuda-python>=12.8.0
cupy-cuda12x>=13.3.0
decorator>=5.2.1
isoduration>=20.11.0
json5>=0.12.0
jsonpointer>=3.0.0
jsonschema-specifications>=2024.10.1
jsonschema>=4.23.0
langcodes>=3.5.0
lazy_loader>=0.4
numcodecs>=0.13.1
numpy>=1.26.4
nvidia-cudnn-frontend>=1.11.0
nvidia-ml-py>=12.570.86
onnxruntime-gpu
pillow>=11.1.0
pip>=25.0.1
prompt_toolkit>=3.0.50
protobuf>=4.24.4
psutil>=7.0.0
pydantic-settings>=2.0.0
pydantic_core>=2.33.1
python-dateutil>=2.9.0.post0
pytz>=2023.4
regex>=2024.11.6
requests>=2.32.3
setuptools>=78.1.0
tzdata>=2025.2
urllib3>=2.0.7
wheel>=0.45.1
wrapt>=1.17.2
zipp>=3.19.2
